<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Fox</title>

    <link rel="icon" href="../static/img/favicon.png">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">

</head>
<body>
    <h1>Quick Fox</h1>

  <div class="add-container">
    <form method="POST" action="/add_question">
      <div class="add-background">
        <p>Añadir una pregunta</p>

        <select class="add-select" name="dropdown_new" id="dropdown_new">
          <option value="" selected disabled>Selecciona la categoría</option>
          <option value="BEBER">BEBER</option>
          <option value="PDM">PDM</option>
          <option value="RETOS">RETOS</option>
          <option value="VOTAR">VOTAR</option>
          <option value="TRIVIA">TRIVIA</option>
          <option value="INVITADOS">INVITADOS</option>
        </select>

        <input class="add-write" type="text" id="NEW_QUESTION_TEXT" name="NEW_QUESTION_TEXT" value="Escribe aquí tu pregunta"><br><br>

      </div>

      <div class="row">
        <div class="col-6 text-center">
          <!-- choose one of the two -->
          <!-- <input type="submit" value="Back" class="submit-options btn"> -->
          <a href="{{ url_for('index') }}" class="submit-options btn">Back</a>
        </div>
        
        <div class="col-6 text-center">
          <input type="submit" value="Add" class="submit-options btn">
        </div>
      </div>

    </form>
  </div>

</body>
</html>


